{% block body %}
            {{ form_start(formplaylist) }}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                {{ form_row(formplaylist.name) }}
            </div>
        </div>
    </div>

    <div class="col">
        <!-- emplacement image -->
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formplaylist.description) }}
        </div>
    </div>
            <div> {% for formation in formations %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ formation.title }}
                        </h5>
                    </td>
                    
                </tr>
                {% endfor %}</div> 
        
</div>
{{ form_end(formplaylist) }}
            {% endblock %}
            
            